#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #8D6E63;
  --color-secondary: #D7CCC8;
  --color-dark: #5D4037;
  --color-background: #EFEBE9;
  --color-accent: #A1887F;
  --color-text: #3E2723;
  --color-text-secondary: #ce8679;
}